<?xml version="1.0"?>
<launch>
  <!-- Launch Gazebo with an empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/empty.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Load the URDF into the parameter server -->
  <param name="robot_description" 
         command="$(find xacro)/xacro --inorder '$(find quadrotor_description)/urdf/quadrotor_main.xacro'" />

  <!-- Launch arguments for spawn position and orientation -->
  <arg name="x" default="0.0" />
  <arg name="y" default="0.0" />
  <arg name="z" default="1.5" />
  <arg name="yaw" default="0.0" />

  <!-- Launch argument for rqt_multiplot configuration -->
  <arg name="plot_config" default="" />

  <!-- Spawn the quadrotor in Gazebo -->
  <node name="spawn_quadrotor" pkg="gazebo_ros" type="spawn_model" 
        args="-param robot_description -urdf -model quadrotor -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw)" 
        respawn="false" output="screen"/>

  <!-- Start the quadrotor controller -->
  <node name="quadrotor_pid" pkg="quadrotor_control" type="pid_controller.py" output="screen"></node>

  <!-- Start RViz for visualization -->
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find quadrotor_description)/rviz/quadrotor.rviz" /> -->

  <!-- Start rqt_multiplot (only if plot_config is specified) -->
  <group if="$(eval arg('plot_config') != '')">
    <node name="rqt_multiplot" pkg="rqt_multiplot" type="rqt_multiplot"
          args="--multiplot-config $(find quadrotor_description)/config/$(arg plot_config) --multiplot-run-all" 
          output="screen"/>
  </group>
</launch>